.profile-header {
  position: relative;
  width: var(--block-width);
  background-color: var(--block-color);
  border-radius: 1rem;
  border-width: var(--block-border-width);
  border-style: solid;
  border-color: var(--block-border-color);

  padding: 2rem;
}

img.face-picture {
  border-radius: 8rem;
  position: absolute;
  top: 0%;
  transform: translateY(-7rem);

  border-width: var(--block-border-width);
  border-style: solid;
  border-color: var(--block-border-color);
}

.name-container {
  text-align: center;
  padding-left: 5rem;
  margin-bottom: 1rem;
}

h1.name {
  font-size: 4rem;
}

h3.mathias-introduction {
  color: gray;
}


.job-advert-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0rem;
  margin-top: 2rem;
}

button.job-hire-me-button {
  font-size: 2rem;
  font-family: 'Lexend';
  background-color: rgb(169, 108, 226);
  border: none;
  border-radius: 3rem;
  padding: 1rem 5rem;

  cursor: pointer;

  box-shadow: .5rem .5rem 0 0;
  transition: box-shadow ease-in-out .1s;
}

button.job-hire-me-button:hover {

  box-shadow: 0 0 0 0;
}