* {
  padding: 0;
  margin: 0;
  font-family: 'Lexend';
}

:root {

  --background-color: rgb(192, 206, 212);

  --block-width: 60rem;
  --block-color: rgb(235, 235, 235);
  --border-main-color: rgb(180, 180, 180);
  --block-border-width: 0px 3px 3px 0px;
  --block-border-color: white var(--border-main-color) var(--border-main-color) white;
}

@font-face {
  font-family: 'Lexend';
  src: url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
  font-weight: 400;
}